{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="content-index" class="content content__inner">
	<h2 class="content__supertitle">Avalanche Escape</h2>
	<div class="content__date">13 de diciembre de 2019</div>
	<h3 class="content__bigtext">
		El juego del año! Escapa de la nieve o se la nieve en busca de un alpinista!<br>
		Pulsa en el menú abajo a la izquierda para comenzar a jugar.<br>
		Por Javier Lougedo y Salvador Martín.
	</h3>
	<h3 class="content__bigtext" style="color:lawngreen;">
		Recomendamos encarecidamente visualizar esta página en pantalla completa y en horizontal para una mejor experiencia. <br>
		F11 en ordenadores.
	</h3>
</div>
{% endblock content %}